@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  position: relative;
}

.glow:hover {
  box-shadow: 0 0 25px rgb(247, 37, 133);
}

.img_glow {
  box-shadow: 0 0 55px rgb(247, 37, 133);
}

.neno-button {
  transition: all 0.3s ease-in-out;
}

.neno-button:hover {
  box-shadow: 0 0 15px rgb(247, 37, 133);
}

.b_glow {
  box-shadow: 0 0 25px rgb(247, 37, 133);
}

.project-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  position: relative;
}

.group:hover .project-image {
  filter: blur(2px);
}

.group:hover .project-overlay {
  opacity: 1;
}

.project-overlay {
  transition: opacity 0.3s ease-in-out;
}

.glow {
  transition: all 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 25px rgb(247, 37, 133);
}
.swiper-slide {
  height: auto !important;
}
.swiper {
  overflow: visible !important;
}
.swiper-wrapper {
  overflow: visible !important;
}
/* Default: secondary color, smooth transition */
.swiper-button-prev,
.swiper-button-next {
  @apply text-secondary transition-all duration-300 font-bold text-3xl;
}

/* On hover: change to primary color and add glow */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply text-primary b_glow scale-110;
}
